{
    "name": "{{name}}",
    "description": "{{description}}",
    "type": "wp-cli-package",
    "homepage": "{{homepage}}",
    "license": "{{license}}",
    "authors": [],
    "minimum-stability": "dev",
    "prefer-stable": true,
    "autoload": {
        "files": [ "command.php" ]
    },
    "require": {
        "wp-cli/wp-cli": "{{require_wp_cli}}"
    },
    "require-dev": {
        "wp-cli/wp-cli-tests": "^3.0.11"
    }
}
