{
    "name": "{{name}}",
    "description": "{{description}}",
    "type": "wp-cli-package",
    "homepage": "{{homepage}}",
    "license": "{{license}}",
    "authors": [],
    "minimum-stability": "dev",
    "prefer-stable": true,
    "autoload": {
        "files": [ "command.php" ]
    },
    "require": {},
    "require-dev": {
        "wp-cli/wp-cli": "{{require_wp_cli}}",
        "behat/behat": "~2.5"
    }
}
