{{package_short_name}}
{{package_name_border}}

{{package_description}}

{{#has_travis}}
[![Build Status](https://travis-ci.org/{{package_name}}.svg?branch=master)](https://travis-ci.org/{{package_name}})
{{/has_travis}}

Quick links: [Installing](#installing) {{#has_commands}}| [Using](#using){{/has_commands}} | [Contributing](#contributing)

## Installing

This package requires the latest nightly version of WP-CLI. Update with `wp cli update --nightly`.

Once you've done so, you can install this package with `wp package install {{package_name}}`

{{#has_commands}}
## Using
{{#has_multiple_commands}}

This package implements the following commands:
{{/has_multiple_commands}}

{{#commands}}
{{#has_multiple_commands}}
### {{name}}

{{shortdesc}}
{{/has_multiple_commands}}

~~~
{{synopsis}}
~~~

{{longdesc}}

{{/commands}}

{{/has_commands}}
## Contributing

Code and ideas are more than welcome.

Please [open an issue](https://github.com/{{package_name}}/issues) with questions, feedback, and violent dissent. Pull requests are expected to include test coverage.
