Installing this package {{wp_cli_requires_instructions}}. Update to {{wp_cli_update_to_instructions}}.

Once you've done so, you can install this package with:

    wp package install git@github.com:{{package_name}}.git
