{{package_name}}
{{package_name_border}}

{{package_description}}

{{#has_travis}}
[![Build Status](https://travis-ci.org/{{package_name}}.svg?branch=master)](https://travis-ci.org/{{package_name}})
{{/has_travis}}

Quick links: {{#has_commands}}[Using](#using) | {{/has_commands}}[Installing](#installing) | [Contributing](#contributing)

{{#has_commands}}
## Using
{{#has_multiple_commands}}

This package implements the following commands:
{{/has_multiple_commands}}

{{#commands}}
{{#has_multiple_commands}}
### {{name}}

{{shortdesc}}
{{/has_multiple_commands}}

~~~
{{synopsis}}
~~~

{{longdesc}}

{{/commands}}
{{/has_commands}}
## Installing

Installing this package requires WP-CLI v0.23.0 or greater. Update to the latest stable release with `wp cli update`.

Once you've done so, you can install this package with `wp package install {{package_name}}`

## Contributing

Code and ideas are more than welcome.

Please [open an issue](https://github.com/{{package_name}}/issues) with questions, feedback, and violent dissent. Pull requests are expected to include test coverage.
