{{package_name}}
{{package_name_border}}

{{package_description}}

{{shields}}

{{quick_links}}

{{#sections}}
## {{heading}}

{{body}}
{{/sections}}

*This README.md is generated dynamically from the project's codebase using `wp scaffold package-readme` ([doc](https://github.com/wp-cli/scaffold-package-command#wp-scaffold-package-readme)). To suggest changes, please submit a pull request against the corresponding part of the codebase.*
